.app__wrapper {
    display: grid;
    grid-template-areas: 
    'h h'
    's m';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}
.app__content {
    grid-template-columns: m;
    background-color: rgb(115, 150, 109);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}